html, body {
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* ヘッダー */
#info-header{
    width: 100%;
    padding-top: 20px;
    display: flex;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

#info-header1{
    display: flex;
    width: 50%;
    padding-left: 3%;
}

#info-header2{
    display: flex;
    width: 50%;
    align-items: center;
}

.head-contents{
    width: 25%;
    align-items: flex-start;
    text-align: left;
}

/* フッター */
#info-footer{
    width: 100%;
    background-color: #023482;
    margin-top: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#contact-us{
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 40px;
}

#contact-jp{
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 100px;
}

#info-footer-company-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* info1.html */
#h1-area{
    padding-left: 80px;
    display: flex;
    margin: 0 auto;
    align-items: baseline;
}

h1{
    font-family: 'Oswald', sans-serif;
    color: #023482;
    font-size: 90px;
}

#h1-sub{
    font-family: 'Oswald', sans-serif;
    color: #023482;
    font-size: 20px;
    font-weight: 600;
}

.link-label{
    font-size: 15px;
    padding-right: 40px;
    margin: 0 auto;
    text-align: right;
}

#image19 {
    max-width: 95%;
    height: auto;
}

#image19-container {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.custom-line {
    border: none;
    border-top: 1px solid #000000;
    width: 75%;
}

.info-news-area {
    width: 75%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-left-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info-date {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.info-news-title {
    font-size: 13px;
    background-color: #023482;
    width: 80px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
}

.info-news-deta {
    font-size: 20px;
    font-weight: 500;
}

.info-view {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

/* info2.html */
.info2-top-group{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: 80%;
}

.info2-date{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.info2-news-title{
    font-size: 15px;
    background-color: #023482;
    width: 111px;
    height: 31px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    line-height: 31px;
}

#info2-h2{
    width: 80%;
    font-size: 40px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    text-align: left;
}

#news-text{
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    width: 70%;
    margin-bottom: 50px;
    text-align: left;
}

#news-text p {
    line-height: 1.0;
}

#renewal-image{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

#renewal-image img {
    display: inline-block; 
    max-width: 100%; 
    height: auto;
}

/* message.html */
#image23-container{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
}

#image23 {
    max-width: 95%;
    height: auto;
}

#message-h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 80px;
}

#message-text{
    font-size: 20px;
    font-weight: 400;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    text-align: left;
}

#message-text p {
    line-height: 1.0;
}

#message-by{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: right;
    padding-right: 80px;
}

/* profile.html */
#profile-link-label{
    margin-top: 70px;
}

#image44-container{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
}

#image44 {
    max-width: 95%;
    height: auto;
}

.profile-sub{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: lightslategray;
}

.profile-h2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
}

.profile-area{
    display: flex;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-item{
    font-size: 20px;
    font-weight: 700;
    width: 25%;
    text-align: center;
}

.profile-answer{
    font-size: 20px;
    font-weight: 400;
    width: 75%;
    text-align: left;
}

#profile-under-line{
    margin-bottom: 100px;
}

#location-map{
    max-width: 1038px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.profile-address{
    font-size: 20px;
    font-weight: 500;
}

.address-area {
    max-width: 1038px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}