body{
    width: 1440px;
    font-family: 'Noto Sans JP', sans-serif;
}

/* header.html */
#info-header{
    width: 1440px;
    height: 120px;
    display: flex;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-weight: 600;
}

#info-header1{
    display: flex;
    width: 50%;
    padding-left: 3%;
}

#info-header2{
    display: flex;
    width: 50%;
    align-items: center;
}

.head-contents{
    width: 180px;
    align-items: flex-start;
}

/* footer.html */
#info-footer{
    width: 1440px;
    height: 605px;
    background-color: #023482;
    margin-top: 150px;
    padding-top: 200px;
    text-align: center;
}

#contact-us{
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 40px;
}

#contact-jp{
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 100px;
}

#info-footer-company-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* info1.html */
#h1-area{
    width: 1278px;
    display: flex;
    margin: 0 auto;
    align-items: baseline;
}

h1{
    font-family: 'Oswald', sans-serif;
    color: #023482;
    font-size: 100px;
    margin-right: 24px;
}

#h1-sub{
    font-family: 'Oswald', sans-serif;
    color: #023482;
    font-size: 24px;
    font-weight: 600;
}

#info-home-link{
    font-size: 15px;
    width: 1278px;
    margin: 0 auto;
    text-align: right;
}

#image19 {
    display: inline-block; 
}

#image19-container {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.custom-line {
    border: none;
    border-top: 1px solid #000000;
    width: 1032px;
}

.info-news-area {
    width: 992px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-left-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info-date {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.info-news-title {
    font-size: 13px;
    background-color: #023482;
    width: 80px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
}

.info-news-deta {
    font-size: 22px;
    font-weight: 500;
}

.info-view {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

/* info2.html */
.info2-top-group{
    display: flex;
    gap: 20px;
    width: 1200px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.info2-date{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.info2-news-title{
    font-size: 15px;
    background-color: #023482;
    width: 111px;
    height: 31px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    line-height: 31px;
}

#info2-h2{
    font-size: 40px;
    font-weight: 700;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#news-text{
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    width: 970px;
    margin-bottom: 50px;
}

#renewal-image{
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

#renewal-image img {
    display: inline-block; 
    max-width: 100%; 
    height: auto;
}

/* message.html */
#image23-container{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
}

#message-h2{
    font-size: 40px;
    font-weight: 600;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}

#message-text{
    font-size: 20px;
    font-weight: 400;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

#message-by{
    font-size: 20px;
    font-weight: 700;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: right;
}

/* profile.html */
#profile-link{
    font-size: 15px;
    width: 1300px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}

#image44-container{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
}

.profile-sub{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: lightslategray;
    width: 1032px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 30px;
    margin-bottom: 0;
}

.profile-h2{
    font-size: 40px;
    font-weight: 600;
    width: 1032px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    text-align: center;
}

.profile-area{
    display: flex;
    height: 80px;
    width: 1032px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.profile-item{
    font-size: 20px;
    font-weight: 700;
    width: 210px;
    text-align: center;
}

.profile-answer{
    font-size: 20px;
    font-weight: 400;
    width: 822px;
}

#profile-under-line{
    margin-bottom: 100px;
}

#location-map{
    width: 1032px;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.profile-address{
    font-size: 20px;
    font-weight: 500;
}

.address-area {
    width: 1032px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}